{% extends 'base.html' %}
{% block content %}
{% if current_user.is_authenticated %}
<form method="post">
    <br>标题 <br><input type="text" name="title" autocomplete="off" required>
    <br><br>内容 <div id="form-editor"><textarea  name="content" rows="50" cols="100" placeholder="内容"> </textarea></div>
    <input type="hidden" name="id" value="{{ user.id }}"><br><br>
    <input class="btn" type="submit" name="submit" value="发布">
</form>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    $(function() {
        var editor = editormd("form-editor", {
            // width  : "100%",
            // height : "100%",
            path   : "{{ url_for('static', filename='/editormd/lib/') }}"
        });
    });
</script>
{%  endif %}
{% endblock %}