{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 15px;margin-bottom: 15px;">
    <a href="{{ url_for('add') }}" class="btn">添加文章</a>
</div>
{% if current_page %}
<p style="margin:10px">{{ current_page.total }} 文章</p>
<ul class="article-list">
    {% for article in articles %}
    <li>
        <a href="{{ url_for('details', article_id=article.article_id) }}" >{{ article.title }}</a>
        <span class="float-right">
            {% if current_user.is_authenticated %}
            {{ article.add_time.replace(microsecond=0) }}
            <a class="btn" href="{{ url_for('edit', article_id=article.article_id) }}">编辑</a>
            <form class="inline-form" method="post" action="{{ url_for('delete_article', article_id=article.article_id) }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('确认删除?')">
            </form>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
<ul class="page_ul">
	<li><a href="admin?page=1">首页</a></li>
	{% if current_page.has_prev %}
		<li class="active"><a href="admin?page={{ current_page.prev_num }}">上一页</a></li>
	{% else %}
		<li class="disabled"><a href="">上一页</a></li>
	{% endif %}

	{% for v in current_page.iter_pages(1,1,3,1) %}
		{% if v %}
			{% if v==current_page.page %}
				<li class="active"><a href="#">{{ v }}</a></li>
			{% else %}
				<li><a href="admin?page={{ v }}">{{ v }}</a></li>
			{% endif %}
		{% else %}
			 <li class="disabled"><a href="">&hellip;</a></li>
		{% endif %}
	{% endfor %}

	{% if current_page.has_next %}
		<li class="active"><a href="admin?page={{ current_page.next_num }}">下一页</a></li>
	{% else %}
		<li class="disabled"><a href="">下一页</a></li>
	{% endif %}

	<li><a href="admin?page={{ current_page.pages }}">尾页</a></li>
	<li>当前页数：{{ current_page.page }}</li>
	<li>一共有{{ current_page.total }}条数据</li>
</ul>
{% endif %}
<p style="margin:10px">{{ comments|length }} 评论</p>
<ul class="article-list">
    {% for comment in comments %}
    <li><a href="{{ url_for('details', article_id=comment.article_id) }}">{{ comment.content }}</a>
        <span class="float-right">
            {{ comment.add_time }} @ {{ comment.comment_user }}
            <form class="inline-form" method="post" action="{{ url_for('delete_comment', comment_id=comment.comment_id) }}">
                <input class="btn" type="submit" name="delete" value="删除" onclick="return confirm('确认删除?')">
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
{% endblock %}