{% extends 'base.html' %}

{% block content %}
<p>{{ articles|length }} Titles</p>
<ul class="article-list">
    {% for article in articles %}
    <li>
        <a href="{{ url_for('details', article_id=article.article_id) }}" >{{ article.title }}</a>
        <span class="float-right">
            {% if current_user.is_authenticated %}
            <a class="btn" href="{{ url_for('edit', article_id=article.article_id) }}">Edit</a>
            <form class="inline-form" method="post" action="{{ url_for('delete_article', article_id=article.article_id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
<p>{{ comments|length }} 评论</p>
<ul class="article-list">
    {% for comment in comments %}
    <li>{{ comment.content }}
        <span class="float-right">
            {{ comment.add_time }} @ {{ comment.comment_user }}
            <form class="inline-form" method="post" action="{{ url_for('delete_comment', comment_id=comment.comment_id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </span>
    </li>
    {% endfor %}
</ul>
{% if current_user.is_authenticated %}
<form method="post">
    标题 <input type="text" name="title" autocomplete="off" required>
    内容 <textarea name="content" rows="50" cols="100" placeholder="内容"></textarea></br></br>
    <input type="hidden" name="id" value="{{ user.id }}">
    <input class="btn" type="submit" name="submit" value="Add">
</form>
{%  endif %}
{% endblock %}