<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.css') }}" type="text/css">
    {% endblock %}
</head>
<body>
    <nav>

        <ul class="layui-nav">
            <li><a style="font-size:21px" href="{{ url_for('index') }}">茅草屋</a></li>
                <span class="float-right search_center">
                    <li><a href="{{ url_for('index') }}">首页</a></li>
                    <li><a href="{{ url_for('list') }}">归档</a></li>
                    <li><a href="{{ url_for('about') }}">关于</a></li>
                    {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('admin') }}">后台</a></li>
                    <li><a href="{{ url_for('settings') }}">设置</a></li>
                    <li><a href="{{ url_for('logout') }}">登出</a></li>
                    {% endif %}
                </span>
        </ul>
    </nav>
    <div class="layui-container">
            {% for message in get_flashed_messages() %}
                <div class="alert">{{ message }}</div>
            {% endfor %}
                <div class="layui-main">
                {% block content %}{% endblock %}
                </div>
    </div>
    <div class="footer">
        <div class="layui-col-md12 t-copy">
            <span class="layui-breadcrumb">
                <span><a href="/">茅草屋</a></span>
                <span lay-separator>/</span>
                <span><a href="https://beian.miit.gov.cn">湘ICP备19011898号</a></span>
            </span>
        </div>
    </div>
</body>
</html>