{% extends 'base.html' %}

{% block content %}

<div class="layui-row layui-col-space15 main">
        <div class="layui-col-md9 layui-col-lg9">
            <div class="title-article text-center">
                <h2>{{ article.title }}</h2>
                <p> - {{ article.add_time }}</p>
            </div>
            <div class="text" itemprop="articleBody">
                <p>{{ article.content }}</p>
            </div>
            <div class="comment-text layui-form">
                <p>{{ comments|length }} 评论</p>
                <ul class="article-list">
                    {% for comment in comments %}
                    <li>{{ comment.content }}
                        <span class="float-right">
                            {{ comment.add_time.replace(microsecond=0) }} @ {{ comment.comment_user }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

<form method="post">
    <textarea name="content" rows="8" cols="40" placeholder="评论"></textarea>
    <input type="text" name="comment_user" autocomplete="off" required placeholder="昵称">
    <input class="btn" type="submit" name="submit1" value="提交">
</form>
{% endblock %}