{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='editormd/css/editormd.preview.css') }}" />
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/editormd.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
<div class="layui-row layui-col-space15 main">
        <div class="layui-col-md9 layui-col-lg9">
            <div class="title-article text-left">
                <h2 style="font-size:25px">{{ article.title }}</h2>
                <p>Z先森 / <a href="{{ url_for('category', category_name=article.category) }}">{{ article.category }}</a> / {{ article.add_time.replace(microsecond=0) }} / {{ comments|length }} 条评论</p>
            </div>
            <div class="text" itemprop="articleBody" id="markdown-view">
                <textarea>{{ article.content|safe}}</textarea>
            </div>
            <script type="text/javascript">
                $(function() {
                    var testView = editormd.markdownToHTML("markdown-view", {
                            previewCodeHighlight : true,
                            htmlDecode: true,
                        // markdown : "[TOC]\n### Hello world!\n## Heading 2", // Also, you can dynamic set Markdown text
                        // htmlDecode : true,  // Enable / disable HTML tag encode.
                        // htmlDecode : "style,script,iframe",  // Note: If enabled, you should filter some dangerous HTML tags for website security.
                    });
                });
            </script>
            <div class="copy-text">
                <div>
                    <p>如无特殊说明，本博所有文章均为博主原创。</p>
                    <p class="hidden-xs">如若转载，请注明出处：<a href="/article/{{ article_id }}">https://www.maxbon.cn/article/{{ article_id }}</a> </p>
                </div>
            </div>
            <div class="comment-text layui-form">
                <p>{{ comments|length }} 条评论</p>
                <ul class="article-list">
                    {% for comment in comments %}
                    <li>{{ comment.content|safe }}
                        <span class="float-right">
                            {{ comment.add_time.replace(microsecond=0) }} @ {{ comment.comment_user }}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>

<form method="post">
    <textarea name="content" rows="8" cols="40" placeholder="评论"></textarea>
    <input type="text" name="comment_user" autocomplete="off" required placeholder="昵称"><br><br>
    <input class="btn" type="submit" name="submit1" value="提交">
</form>
{% endblock %}